.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 280px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card-container {
  margin-left: 260px;
  margin-right: 260px;
  padding-top: 20px;
  display: flex;
  /* justify-content: center; */
}

.card h1 {
  font-size: 26px;
  line-height: 16px;
}

.card p {
  line-height: 20px;
}

.title {
  color: grey;
  font-size: 14px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.profile_1 {
  width: 13vw;
  height: 40vh;
  overflow: hidden;
  padding-top: 35px;
}

.all_social {
  margin: 22px 0;
  padding-bottom: 15px;
}

@media (max-width: 650px) {
  .card {
    max-width: 266px;
  }
  .profile_1 {
    width: 53vw;
    height: 45vh;
  }

  .card p {
    font-size: large;
  }
}
